<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--一定要在紧跟着configuration下面添加-->
  <configSections>
    <!--跟下面Spring.Net节点配置是一一对应关系-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>




  <!--Spring.Net节点配置-->
  <spring>
    <context>
      <!--容器配置-->
      <resource uri="config://spring/objects"/>
      <!--xml文件方式，更改属性，复制到输出目录：始终复制-->
      <resource uri="file://Dal.xml"/>
      <!--嵌入程序集方式，assembly://程序集名/项目名/objects.xml，更改属性，始终复制，生成操作，嵌入的资源-->
      <!--<resource uri="assembly://Spring.Net/Spring.Net/objects.xml"/>-->

    </context>
    <objects xmlns="http://www.springframework.net" >
      
      
      
    </objects>
 </spring>
  
  
</configuration>