@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>登录页面</title>
		<!-- basic styles -->

		<link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="../../Content/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />


        <!-- 显示校验引用 -->
        <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

		<!-- ace styles -->

		<link rel="stylesheet" href="../../Content/css/ace.min.css" />
		<link rel="stylesheet" href="../../Content/css/ace-rtl.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="../../Content/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="../../Content/js/html5shiv.js"></script>
		<script src="../../Content/js/respond.min.js"></script>
		<![endif]-->

        <script type="text/javascript">

           
            //改变图片地址，重新申请一下
            function changeCheckCode() {
                var old = $("#imgCode").attr("src");
                var nowtime = new Date();
                var str = old + nowtime.getDay() + nowtime.getSeconds() + nowtime.getMilliseconds();

                $("#imgCode").attr("src", str);
            }

            function beforeSubmit(form)
            {
                if (form.uname.value == "" || form.pwd.value == "" || form.vcode.value == "") {
                    changeCheckCode();
                    return false;
                }
                else {

                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "/UserLogin/ProcessLogin",//url
                        data: $('#loginform').serialize(),
                        success: function (data) {
                            if (data == "ok") {
                                window.location.href = '/UserInfo/Index';
                            }
                            else {
                                changeCheckCode();
                                alert(data);
                            }
                        },
  
                    });
                    
                    return false;
                }
            }
            


        </script>
	</head>




	<body class="login-layout">

        
            <form id="loginform" action="/UserLogin/ProcessLogin" method="post" onSubmit="return beforeSubmit(this);">
		        <div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="icon-leaf green"></i>
									<span class="red">Ace</span>
									<span class="white">Application</span>
								</h1>
								<h4 class="blue">&copy; Company Name</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
										<h4 class="header blue lighter bigger">
										<i class="icon-coffee green"></i>
										Please Enter Your Information
										</h4>

										<div class="space-6"></div>

										<label class="block clearfix">
										<span class="block input-icon input-icon-right">
										<input type="text" name="uname" class="form-control" placeholder="Username" />
										<i class="icon-user"></i>
										</span>
										</label>

										<label class="block clearfix">
										<span class="block input-icon input-icon-right">
										<input type="password" name="pwd" class="form-control" placeholder="Password" />
										<i class="icon-lock"></i>
										</span>
										</label>

                                            <label class="block clearfix">

										<span class="block input-icon input-icon-right">
                                            
										<input type="text" name="vcode" class="form-control" placeholder="验证码" />
										<img id="imgCode" src="/UserLogin/ShowVCode?id=2" onclick="changeCheckCode();" style="margin:5px 5px 5px 5px;float:left; height:24px;" />
                                        <a href="javascript:void(0)" onclick="changeCheckCode();" >看不清？换一张！</a>
                                        
										</span>

										</label>

                                         

										<div class="space"></div>

										<div class="clearfix">
										

				<label class="inline">
										

					<input type="checkbox" class="ace" />
										

					<span class="lbl"> Remember Me</span>
										

				</label>

										

				<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
										

					<i class="icon-key"></i>
										

					Login
										

				</button>
										

			</div>

										

			<div class="space-4"></div>
										

										

	<div class="social-or-login center">
										

		<span class="bigger-110">Or Login Using</span>
										

	</div>

										

	<div class="social-login center">
										

		<a class="btn btn-primary">
										

			<i class="icon-facebook"></i>
										

		</a>

										

		<a class="btn btn-info">
										

			<i class="icon-twitter"></i>
										

		</a>

										

		<a class="btn btn-danger">
										

			<i class="icon-google-plus"></i>
										

		</a>
										

	</div>
										

</div><!-- /widget-main -->

										

<div class="toolbar clearfix">
										

	<div>
										

		<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
										

			<i class="icon-arrow-left"></i>
										

			I forgot my password
										

		</a>
										

	</div>

										

	<div>
										

		<a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
										

			I want to register
										

			<i class="icon-arrow-right"></i>
										

		</a>
										

	</div>
										

</div>
									

</div><!-- /widget-body -->
								</div><!-- /login-box -->

								<div id="forgot-box" class="forgot-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
										<h4 class="header red lighter bigger">
										<i class="icon-key"></i>
										Retrieve Password
										</h4>

										<div class="space-6"></div>
										<p>
										Enter your email and to receive instructions
										</p>

										<label class="block clearfix">
										<span class="block input-icon input-icon-right">
										<input type="email" class="form-control" placeholder="Email" />
										<i class="icon-envelope"></i>
										</span></label>
                                            <div class="clearfix">
										<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
										<i class="icon-lightbulb"></i>
										Send Me!
										</button>
										

			</div>
										
										
</div><!-- /widget-main -->

										

<div class="toolbar center">
										

	<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
										

		Back to login
										

		<i class="icon-arrow-right"></i>
										

	</a>
										

</div>
									

</div><!-- /widget-body -->
								</div><!-- /forgot-box -->

								<div id="signup-box" class="signup-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
										<h4 class="header green lighter bigger">
										<i class="icon-group blue"></i>
										New User Registration
										</h4><div class="space-6"></div>
										<p> Enter your details to begin: </p>
                          
								
										<label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
										<input type="email" class="form-control" placeholder="Email" />
										<i class="icon-envelope"></i>
										</span></label><label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control" placeholder="Username" />
										<i class="icon-user"></i>
										</span>

										               </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
										<input type="password" class="form-control" placeholder="Password" />
										<i class="icon-lock"></i>

                                                </span>
										

			</label>

										

			<label class="block clearfix">
										

				<span class="block input-icon input-icon-right">
										

					<input type="password" class="form-control" placeholder="Repeat password" />
										

					<i class="icon-retweet"></i>
										

				</span>
										

			</label>

										

			<label class="block">
										

				<input type="checkbox" class="ace" />
										

				<span class="lbl">
										

					I accept the
										

					<a href="#">User Agreement</a>
										

				</span>
										

			</label>

										

			<div class="space-24"></div>

										

			<div class="clearfix">
										

				<button type="reset" class="width-30 pull-left btn btn-sm">
										

					<i class="icon-refresh"></i>
										

					Reset
										

				</button>

										

				<button type="button" class="width-65 pull-right btn btn-sm btn-success">
										

					Register
										

					<i class="icon-arrow-right icon-on-right"></i>
										

				</button>
										

			</div>
										
										

</div>

										

<div class="toolbar center">
										

	<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
										

		<i class="icon-arrow-left"></i>
										

		Back to login
										

	</a>
										

</div>
									

                </div><!-- /widget-body -->
								</div><!-- /signup-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->
            </form>

          

		
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../Content/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='../../Content/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->

		<script type="text/javascript">
		    if ("ontouchend" in document) document.write("<script src='../../Content/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
		</script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
		    function show_box(id) {
		        jQuery('.widget-box.visible').removeClass('visible');
		        jQuery('#'+id).addClass('visible');
		    }




		    function afterLogin(data) {
		        if (data == "ok") {
		            //登录成功
		            window.location.href = "/Home/Index";
		        }
		        else {
		            changeCheckCode();
		            alert(data);
		        }
		    }

		</script>
	<div style="display:none"></div>


</body>
</html>

